[submodule "lib/keyboard.pretty"]
	path = lib/keyboard.pretty
	url = https://github.com/swanmatch/keyboard.pretty.git
[submodule "lib/kicad_lib"]
	path = lib/kicad_lib
	url = https://github.com/mikamo3/kicad_lib.git
[submodule "lib/kagizaraya-parts.pretty"]
	path = lib/kagizaraya-parts.pretty
	url = https://github.com/ka2hiro/kagizaraya-parts.pretty.git
